# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\fborz\OneDriveUnina\OneDrive - Università di Napoli Federico II\CineMates20\Implementazione\CineMates20Amministratori\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
